*.pyc          
venv/          
bin/           
build/         
develop-eggs/  
dist/          
eggs/          
lib/           
lib64/         
parts/         
sdist/         
var/           
*.egg-info/    
.installed.cfg 
*.egg          
*.eggs         
.mypy_cache/   
*.env          
.vscode        
.idea/*        
res/


*.pyc
*.jp*g
*.docx
*.pdf
